exwm/.config/emacs/diary
exwm/.config/emacs/etc/*
history
exwm/.config/emacs/var/*
exwm/.config/emacs/session*
exwm/.config/emacs/.lsp-session-v1
exwm/.config/emacs/custom-vars.el
exwm/.config/emacs/ido*
exwm/.config/emacs/places
exwm/.config/emacs/recentf*
exwm/.config/emacs/*~
exwm/.config/emacs/straight/*
exwm/.config/emacs/auto-save-list/
exwm/.config/emacs/projectile-bookmarks.eld
exwm/.config/emacs/elpa/